body {
    margin: 0;

    font-family: sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: aquamarine;
}

.content {
    display: flex;
    flex-direction: column;
}

.menu-item {
    padding: 20px;
    background-color: teal;
    color: red;

    font-size: 36px;    
    filter: blur(5px);
    transition: 0.5s;
}

.menu-item:hover {
    font-size: 72px;
    filter: blur(0px);
}